*{
    margin: 0;
    box-sizing: border-box;
}

div{
    text-align: center;
    max-width: 100%; 
    padding: 1rem; 
}

h1{
    text-align: center;
    margin-top: 100px;
}

h2{
    text-align: center;
    margin-bottom: 50px;
}

.container-centro{
    max-width: 80%; 
    margin: 0 auto;
}

button {
    width: 100%;
    height: 3rem;
    color: white;
    background-color: #e03759;
    border: 1px solid #e03759;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #a81230;
}

@media (max-width: 768px) {
    button {
        width: 100%;
        margin-top: 0.5rem;
    }
}
